*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.nike {
    background: rgb(11, 11, 11);
    color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    
    
}
.nike__lines {
    background: yellow;
    color: blue;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-shadow: 5px 5px 10px rgba(233, 91, 91, 0.5);
    
}

.nike__element:active {
    color: red;
    
    
}

.nike__title:hover {
    color: red;
    
}

.nike__element {
    list-style-type: none;
    font-size: 17px;

}
.nike__title {
    color: black;
    font-size: 25px;   }

.nike__title::after {
    content: "";
    display: inline-block;
    background-image: url(/Resources/icons8-nike.svg);
    width: 30px;
    height: 30px;
    margin-left: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    
}    

.nike__element-m {
    background: orange;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 12px;
}

.productos__principal {
    background: blue;
    width: 50%;
    height: 400px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    
}
.producto__title {
    color: rgb(26, 21, 21); 
}

.productos__tenis {
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-size: 20px;
    font-family: cursive;
    
}

.productos__tenis:hover{
    background: rgb(24, 2, 2);

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

section {
    display: flex;
    justify-content: space-between;
}

.imagenes {
    width: 40%;
    height: 400px;
    text-align: center;
    padding-top: 80px;
    margin: 25px;
  
    font-size: 15px;
    background-image: url(/Resources/joseph-barrientos-4qSb_FWhHKs-unsplash.jpg);
    background-size: cover;
    
    border-radius: 12px;
    box-shadow: 12px 12px 23px
}

.imagenes:hover {
    translate: -10px -10px;
}

